body {
        background-color: #343434;
}

h1 {
        color: #00BFFF;
        text-align:center;
        font-size: 42px;
        font-family: impact;
}

#mypic img {
        width: 28%;
        height: auto;
        margin-right: 20%;
        float: right;
}

#links {
        text-align: center;
        margin-top: 15%
}
#links a {
        color: white;
        font-size: 35px;
}
